<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117108133-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-117108133-1');
		</script>

		<meta charset="utf-8">
		<title>Hardpoint</title>

		<link rel="stylesheet" type="text/css" href="//unpkg.com/iview/dist/styles/iview.css">

		<script src="//unpkg.com/vue"></script>
		<script src="//unpkg.com/vue-router/dist/vue-router.js"></script>
		<script src="//unpkg.com/iview/dist/iview.min.js"></script>
		<script src="//unpkg.com/iview/dist/locale/en-US.js"></script>
		<script>
			iview.lang('en-US');
		</script>

		<script type="text/javascript" src="data/3.1.0-739258/shipSpecifications.js"></script>
		<script type="text/javascript" src="data/3.1.0-739258/shipLoadouts.js"></script>
		<script type="text/javascript" src="data/3.1.0-739258/spaceshipComponents.js"></script>
		<script type="text/javascript" src="data/3.1.0-739258/dataforgeComponents.js"></script>

		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="app">
			<div class="layout">
				<div class="header">
				<row>
					<i-col span="24">
						<h1>Hardpoint</h1>
					</i-col>
				</row>
				<row>
					<i-col span="12">
						<p>An increasingly weaponized spreadsheet for Star Citizen ships and equipment</p>
					</i-col>
					<i-col span="12" class="right">
						<p>Star Citizen Version 3.1.0-739258</p>
					</i-col>
				</row>
				</div>
				<div class="content">
					<router-view></router-view>
				</div>
				<div class="footer">
					<p>Thanks to <a href="http://starcitizendb.com/">StarCitizenDB</a> for the data!</p>
				</div>
			</div>
		</div>

		<template id="ship-list">
			<row>
				<i-col span="24">
					<i-table
						:columns="attributeColumns"
						:data="shipAttributes"
						highlight-row
						stripe>
					</i-table>
				</i-col>
			</row>
		</template>

		<template id="ship-details">
			<row :gutter="16">
				<i-col span="6">
					<i-select :value="selectedShipIdIndex" @on-change="onChange">
						<i-option v-for="(id, index) in $root.shipIds" :value="index" :key="index">
							{{id.loadoutId}}
						</i-option>
					</i-select>
				</i-col>
				<i-col span="12">
					<collapse v-model="expandedSections">
						<panel v-for="sectionTypes, sectionName in sections" :key="sectionName" :name="sectionName">
							{{sectionName}}
							<div slot="content">
								<div v-for="port in selectedCustomization.getItemPortsMatchingTypes(sectionTypes)">
									<component-selector
										v-bind:customization="selectedCustomization"
										v-bind:item-port="port">
									</component-selector>
									<div v-for="childPort in getAttachedComponentItemPorts(port.name)" style="padding-left: 50px">
										<component-selector
											v-bind:customization="selectedCustomization"
											v-bind:item-port="childPort"
											v-bind:parent-port-name="port.name">
										</component-selector>
									</div>
								</div>
							</div>
						</panel>
					</collapse>
				</i-col>
				<i-col span="6">
					<i-table :columns="maneuverabilityColumns" :data="selectedCustomization.getAttributes('Maneuverability')"></i-table>
					<i-table :columns="survivabilityColumns" :data="selectedCustomization.getAttributes('Survivability')"></i-table>
				</i-col>
			</row>
		</template>

		<template id="component-display">
			<i-button :disabled="disabled">
				<row v-if="componentName==undefined" style="text-align: center;">
					Empty
				</row>
				<row v-if="componentName">
					<i-col span="12">
						<!-- componentName needs to be outside the conditional to bind correctly. Odd! -->
						{{componentName}}
					</i-col>
					<i-col span="12" class="right" v-if="componentName">
						{{component.type}}
					</i-col>
				</row>
				<row v-if="componentName">
					<i-col span="12">
						TODO
					</i-col>
						<i-col span="12" class="right">
						Size {{component.size}}
					</i-col>
				</row>
			</i-button>
		</template>

		<template id="component-selector">
			<div style="padding:8px;">
				{{label}}
				<br />
				<dropdown
					ref="dropdown"
					:trigger="itemPort.editable ? 'click' : 'custom'"
					class="component-selector"
					@on-visible-change="onVisibleChange"
					@on-click="onClick">

					<component-display :component-name="selectedComponentName" :disabled="!itemPort.editable">
					</component-display>
					<span :class="{'flip-icon':visible}"><i class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i></span>

					<dropdown-menu slot="list">
						<dropdown-item v-for="componentName in availableComponents" :name="componentName" :key="componentName">
							<component-display :component-name="componentName">
							</component-display>
						</dropdown-item>
					</dropdown-menu>
				</dropdown>
			</div>
		</template>

		<script src="code.js"></script>
	</body>
</html>