.summary-value {
	color: #B10DC9;
	font-weight: bolder;
}

.nav-button {
	text-align: center;
	width: 100%;
	margin-bottom: 16px;
}

.title {
	text-align: center;
	margin-bottom: 16px;
}

.right {
	text-align: right;
}

/* Adjust primary button color. */
.ivu-btn-primary {
	background-color: #0d83c9;
	border-color: #0d83c9;
}

.ivu-btn-primary:hover {
	background-color: #27a7f1;
	border-color: #27a7f1;
}


/* Group indicator through the magic of after selectors. */
.group-indicator-label {
	position: relative;
	z-index: 1;
	background-color: white;
	padding-top: 4px;
	padding-bottom: 4px;
}

.group-indicator-label > p {
	line-height: normal;
}

.group-indicator-border {
	position:relative;
}

.group-indicator-border:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	width: 25%;
	height: 100%;
	left: 50%;
	border-width: 2px 0px 2px 2px;
	border-style: solid;
	border-color: #0d83c9;
}

/* Spacing between component selectors and item port groups. */
.group-content-entry + .group-content-entry,
.component-and-children-selector + .component-and-children-selector,
.item-port-group + .item-port-group {
	padding-top: 16px;
}

.component-selector + .item-port-group {
	margin-top: 16px;
}

/* Item port group table layout. */
.item-port-group {
	width: 100%;
	display:table;
}

.group-row {
	display: table-row;
}

.group-indicator {
	text-align: center;
	vertical-align: middle;
	width: 60px;
	display: table-cell;
}

.group-content {
	display: table-cell;
}

.group-indicator p {
	font-size: 2em;
}

/* Main layout specification. */
.ivu-menu-horizontal > .ivu-menu-item {
	float: right;
}

.ivu-menu-horizontal > .ivu-menu-submenu {
	float: right;
}

.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item-active {
	color: rgba(255,255,255,.7);
}

.centered-narrow {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	height: 60px;
	background-color: rgb(73, 80, 96);
	line-height: normal;
	padding: 0px 16px 0px 16px;
}

.header h1 {
	color: #f0f0f0;
	line-height: 40px;
}

.header p {
	color: rgba(255,255,255,.7);
	padding-bottom: 6px;
}

.content {
	padding: 16px;
}

.not-footer {
	min-height: calc(100vh - 52px);
}

.footer {
	height: 52px;
	background-color: rgb(73, 80, 96);
	color: rgba(255,255,255,.7);
	text-align: center;
	padding: 8px 16px 8px 16px;
}

.footer a {
	color: #f0f0f0;
}

/* Color the section headers differently from the buttons. */
.ivu-collapse-header {
	background-color: #0d83c9;
	color: white !important;
	font-weight: bold;
}

.ivu-table th {
	background-color: #0d83c9;
	color: white !important;
}

.ivu-table-sort i.on {
	color: white;
}

/* Drop the padding significantly to allow more columns. */
.ivu-table-cell {
	padding-left: 8px;
	padding-right: 8px;
}

/* Separate stacked tables. */
.ivu-table-wrapper {
	margin-top: 16px;
}
.ivu-table-wrapper:first-child {
	margin-top: 0px;
}

/* Add a bit of space between the collapse section dropdown arrow and the header text. */
.ivu-collapse-header > i {
	margin-right: 8px;
}

/* Component selection dropdown -- make it look and behave like a form select. */
.component-selector {
	width: 100%;
	box-sizing: border-box;
}

.component-selector .ivu-dropdown-rel .ivu-btn {
	padding-right: 24px;
}

.component-selector .ivu-btn {
	padding-left: 8px;
	padding-right: 8px;
	text-align: left;
	width: 100%;
}

.flip-icon > i {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Add scrollbars back to dropdowns. */
.ivu-dropdown .ivu-select-dropdown {
	overflow: auto;
}

/* Change the max height of all dropdown types. */
.ivu-select-dropdown {
	max-height: 400px !important;
}