:root {
	--spacer-width: 80px;
	--spacer-inset: 8px;
}

body {
	font-size: 13px;
}

.text-faded {
	color: #616161;
}

.version {
	padding-left: 24px;
	color: #bdbdbd;
	font-size: 18px;
}

.section-header {
	background-color: #e0e0e0;
	border-bottom: 4px solid #616161;
	font-size: 18px;
}

.selector .q-expansion-item {
	border-radius: 4px;
	border: 2px solid #bdbdbd;
	background-color: #fafafa;
}

.selector-header {
	padding: 8px;
}

.selector-table {
	background-color: #fafafa;
}

.selector-table-title {
	font-size: 18px;
}

/* Sticky header for the vehicle grid. */
.vehicle-grid thead tr th {
	background-color: #e0e0e0;
	position: sticky;
	z-index: 1;
	top: 0;
}

/* Diagonal subheader for the loadout page title. */
.subheader {
	text-align: center;
}

.subheader h4 {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	font-size: 20px;
	line-height: 2em;
}

.subheader h4:before {
	content: '';
	z-index: -1;
	display: block;
	position: absolute;
	height: 100%;
	width: calc(60% + 24px);
	top: 0;
	right:40%;
	transform:skewX(20deg);
	background-color: #616161;
}

.subheader h4:after {
	content: '';
	z-index: -1;
	display: block;
	position: absolute;
	height: 100%;
	width: calc(60% + 24px);
	top: 0;
	left:40%;
	transform:skewX(-20deg);
	background-color: #616161;
}

/* Summary cards for the loadout page. */
.q-card {
	box-shadow: none;
	border: 2px solid #bdbdbd;
	background-color: #fafafa;
}

.card-title {
	font-size: 18px;
}

.card-value {
	font-size: 18px;
}

.summary-value {
	font-weight: bold;
	color: var(--q-accent);
}

.sticky-side {
	position: sticky;
	top: 0;
}

.coverage-display .q-tab {
	padding: 0;
}

/* Item group layout and lines for the loadout page. */
.group-container {
	position: relative;
	width: 100%;
}

.spacer {
	width: var(--spacer-width) !important;
}

.selector {
	width: calc(100% - var(--spacer-width) * 2) !important;
}

.group-bracket:after {
	content: '';
	display: block;
	position: absolute;
	top: var(--spacer-inset);
	width: calc(var(--spacer-width) / 4);
	height: calc(100% - var(--spacer-inset) * 2);
	margin-left: calc(var(--spacer-width) / 2);
	border-width: 2px 0px 2px 2px;
	border-style: solid;
	border-color: var(--q-primary);
}

.level2.group-bracket:after {
	left: var(--spacer-width);
}

.group-indicator {
	z-index: 1;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width:var(--spacer-width);
	padding-bottom: 8px;
	text-align: center;
	vertical-align: middle;
	background-color: white;

	font-size: 24px;
	line-height: 1.25em;
}

.level2 .group-indicator {
	left: var(--spacer-width);
}

.group-indicator .q-btn {
	font-size: 12px;
	line-height: 1em;
	padding: 8px;
	min-height: 0;
}